

section{
    height: 500px;
    width: 100%;
    background-color: rgba(0, 255, 255, 0.628);
    /*  It is used to wrap object inside parent container and 
    display object responsive only 25% */
    display: flex;
    /* It is used to send object in next line if there is no space  */
    flex-wrap: wrap;
}


div{
    height: 200px;
    width: 200px;
    background-color: red;
    margin: 10px;
}