{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Projects</title>
    <link rel="stylesheet" href={% static "CSS/style.css" %}>
</head>
<body>

    <div class="section1">
        <div class="secCont">

            <div class="s1leftCont">
                <div class="s1pimg">

                    <div class="s1bigimg">

                        <img src={%static "images/telephone.jpg"%} alt="">

                    </div>

                    <div class="s1smallimg">

                        <div class="s1smimg1">
                            <img src={%static "images/telephone1.jpg"%} alt="">
                        </div>
                        <div class="s1smimg1">
                            <img src={%static "images/telephone2.jpg"%} alt="">
                        </div>
                        <div class="s1smimg1">
                            <img src={%static "images/telephone3.jpg"%} alt="">
                        </div>
                        <div class="s1smimg1">
                            <img src={%static "images/telephone4.jpg"%} alt="">
                        </div>
                        <div class="s1smimg1">
                            <img src={%static "images/telephone5.jpg"%} alt="">
                        </div>
                        

                    </div>

                </div>
                <div class="s1btnCont">
                    <div class="s1btnbox">
                        <button class="s1cartbtn">Add Cart</button>
                    </div>

                    <div class="s1btnbox">
                        <button class="s1buybtn">Buy</button>
                    </div>
                </div>
            </div>

            <div class="s1rightCont">

                <div class="s1pname">

                    <h3>Traditional Telephone</h3>

                </div>

                <div class="s1pprice">

                    <div class="newprice">
                        <h4><strong>₹</strong>5000</h4> 
                    </div>


                    <div class="pdiscount">
                        <p>discount</p>
                        <h4>90%</h4> 
                    </div>


                    <div class="oldprice">
                        <h4>₹50000</h4> 
                    </div>

                    

                    

                </div>

                <div class="s1pdetails">

                    <div class="s1pdesc">
                        <h3>Product Details:</h3>
                        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Obcaecati, 
                            ab! Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur similique nam cum,
                             magni labore vel et dignissimos facere nisi cumque. Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi, commodi.</p>
                    </div>

                    <div class="s1pdesclist">
                        <ul>
                            <li>Traditional old model</li>
                            <li>
                                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Corporis, nesciunt?
                            </li>
                            <li>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ab velit earum enim voluptatem exercitationem quis.</li>
                            <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod quam debitis deserunt beatae itaque vel accusantium ipsa enim sed ea?</li>
                            <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis enim incidunt facilis temporibus ratione aut consequuntur dignissimos recusandae nemo quos!</li>
                        </ul>
                    </div>
                    
                </div>


                    

            </div>

        </div>
    </div>




    


    
</body>
</html>