{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>success</title>

    <link rel="stylesheet" href={% static "CSS/msg.css" %}>
</head>
<body>

    <div class="bodyCont">
        <div class="sucmsg">
            <div class="successmsg">
                <h1>Data Saved Successfully !!!!!!</h1>
            </div>
    
            <div class="success">
                <a href="{% url 'employee' %}">Click here to go Employee Page.</a>
            </div>
        </div>
    </div>
    
</body>
</html>