{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="../Static/CSS/style.css">

</head>
<body>

    <section>
        <div class="secCont">

            
            
            <form action="#success" method="GET">
                
                <h1>Sign Up</h1>

                <div id="success" name="signup">
                    <p class="message">Data Saved Successfully..</p>
                </div>
                <div class="userName">
                    <label for="sId">Stuent Id</label> 
                    <input type="text" id="sId"  >
                </div>
                <div class="name">
                    <label for="name">Student Name</label>
                    <input type="text" id="name">
                </div>
                <div class="userName">
                    <label for="sContact">Student Contact</label>
                    <input type="Text" id="sContact">
                </div>
        
                <div><button type="submit">Submit</button></div>
            </form>
        
        </div>
        
    </section>
    
</body>
</html>