*{
    font-size: 30px;

}
section{
    height: 700px;
    width: 100%;
    background-color: aquamarine;

    display: flex;
    align-items: center;
    justify-content: center;
}

.secCont{
    height: 100%;
    width:50%;
    background-color: bisque;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;
    gap:10px;
  
}

form{
    height: inherit;
    width: inherit;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

}




.input{
    height: 80px;
    width: 150px;
    font-size: 15px;
}

button{
    height: 60px;
    width: 150px;
    background-color: blueviolet;
    color: white;
    border-radius: 10px;
}

.message{
    font-size: 10px;
    color: green;
    display: none;
    font-size: 30px;
}

#success:target .message{
    display: block;
}
